$black: #0c1f2d;
$white: #F3FFE2;
$grey: grey;
$red: red;
$green: green;
$blue: #225378;
$lightblue: #ACF0F2;
$orange: #EB7F00;
$otherblue: #3E586B;
$sideblue: #2d6ea0;
$contactblue: #28618c;
///

$navheight: 3em;

$maxwidth: 1800px;
$plainpadding: 4em;


$body_background_color: $white;
$body_background_image: none;

$headline-font: "Arial Black", Gadget, sans-serif;
$headline-weight: 700;

$body-font: 'bd', Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;
